<div class="container">

    <div class="mt-5">
        <mat-card>

            <mat-card-title>
                <div class="container">
                    <div class="row">
                        <div class="col s10">
                            Listado de solicitudes
                        </div>
                       <!--<div class="col s2">
                            <button mat-raised-button color="primary">New</button>
                        </div>--> 
                    </div>
                </div>


            </mat-card-title>
            <mat-card-actions>

            </mat-card-actions>
            <mat-card-content>

              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100% ;">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
              
                <!-- Position Column -->
                <ng-container matColumnDef="names">
                  <th mat-header-cell *matHeaderCellDef> Nombres </th>
                  <td mat-cell *matCellDef="let element"> {{element.names}} </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="surnames">
                  <th mat-header-cell *matHeaderCellDef> Apellidos </th>
                  <td mat-cell *matCellDef="let element"> {{element.surnames}} </td>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef> Email </th>
                  <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>
              
                <!-- Symbol Column -->
                <ng-container matColumnDef="phone">
                  <th mat-header-cell *matHeaderCellDef> Telefono </th>
                  <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef> Acciones </th>
                  <td mat-cell *matCellDef="let element"> 
                    <button (click)="aproveUser(element)" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                    <mat-icon class="green-text">check</mat-icon>
                  </button> 
                </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              
            </mat-card-content>



        </mat-card>
        <br>

    </div>

</div>